{% for target_host in system_hosts_inventory_targets | default([]) %}
{% set target_vars = hostvars[target_host] %}
{% set target_hostname = target_vars.system_hostname | default('') %}
{% set network_objects = (target_vars.network_ethernets | default([])) + (target_vars.network_bonds | default([])) + (target_vars.network_vlans | default([])) %}
{% if target_hostname | string | length > 0 %}
{% for network_object in network_objects %}
{% if network_object.segment_name is defined and network_object.segment_name | string | length > 0 and network_object.addresses is defined and network_object.addresses | length > 0 %}
{% set first_ip = (network_object.addresses[0] | string).split('/')[0] %}
{% set segment_hostname = target_hostname ~ '.' ~ network_object.segment_name %}
{% set segment_fqdn = segment_hostname ~ '.' ~ system_hosts_domain_name %}
{% if network_object.segment_name == system_hosts_primary_segment_name %}
{{ first_ip }} {{ target_hostname }} {{ segment_hostname }} {{ segment_fqdn }}
{% else %}
{{ first_ip }} {{ segment_hostname }} {{ segment_fqdn }}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
